/* Annule le flex: 0 0 50% de Tabler sur les boutons de pagination */
.bootstrap-table .pagination .page-item.page-next,
.bootstrap-table .pagination .page-item.page-prev {
    flex: none !important;
    text-align: inherit !important;
}

.page-body{
    z-index:2;
}